{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "jest",
    "react-refresh",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jest/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "react-refresh/only-export-components": "warn"
  },
  "env": {
    "jest": true,
    "browser": true,
    "es2020": true
  }
}
