$white: #ffffff;
$black: #000000;

$primary-400: #03DD94;
$primary-500: #03C988;
$primary-600: #03B579;
$primary-700: #02A16C;
$primary-800: #018D5F;
$primary-900: #017A51;

$secondary-500: #1C82AD;
$secondary-600: #1C82AD;
$secondary-700: #00337C;
$secondary-800: #13005A;

$darkGreen: #67C33C;
$green: #B6E2A1;
$yellow: #FFFBC1;
$orange: #FEBE8C;
$red: #F7A4A4;
