$white: #ffffff;
$black: #000000;

$primary-400: #03DD94;
$primary-500: #03C988;
$primary-600: #03B579;
$primary-700: #02A16C;
$primary-800: #018D5F;
$primary-900: #017A51;

$secondary-500: #1C82AD;
$secondary-600: #1C82AD;
$secondary-700: #00337C;
$secondary-800: #13005A;

$darkGreen: #11D05A;
$green: #0EAA4A;
$yellow: #0B8439;
$orange: #085E29;
$red: #053819;
