.form {
  display: flex;

  &__scores {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__score-container {
    flex-grow: 0;
    width: 100%;
    height: 100%;
  }

  &__breeding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
}
