.radio-group-input {
  border-radius: 8px;
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    height: 100%;
    position: relative;
  }

  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 8px;
    background: linear-gradient(to top, #11998e, #38ef7d);
    transition: transform .2s ease;
  }


  &.--horizontal {
    .radio-group-input__background {
      background: linear-gradient(to left, #11998e, #38ef7d);
    }
    .radio-group-input__container{
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
