.radio-group-input {
  border-radius: 8px;
  overflow: hidden;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    height: 100%;
    position: relative;
  }

  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 8px;
    background-color: $primary-800;
    transition: transform .2s ease;
  }


  &.--horizontal .radio-group-input__container{
    flex-direction: row;
    justify-content: space-between;
  }
}
